.table-padding {
  display: block;
  margin-top: 2em;
}

.add-buttons {
  button {
    margin-right: 1em;
    &:last-of-type {
      margin-right: 0;
    }
  }
  padding-bottom: 2em;
}

.bottom-padding {
  margin-bottom: 2em;
}
