<app-container title="Admin-Bereich">
  <p>
    Dies ist der Admin-Bereich. Dieser sollte erst nach Einweisung verwendet
    werden. Bei der Konfiguration von Arbeitsgruppen und Mailinglisten werden
    Keycloak Gruppen verwendet. Es sollten keine Keycloak Gruppen verwendet
    werden, die weitreichende Berechtigungen ermöglichen, da sich Nutzer*Innen
    selbstständig in diese eintragen können. Ausnahme bilden die Allow-Gruppen.
  </p>
  <p>
    Wird eine Mailingliste aus Mailman3 ausgewählt werden alle bestehenden
    Mitglieder der Mailingliste überschrieben. Diese Operation ist nicht
    umkehrbar!
  </p>
  <h2>Mailingliste</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="addMailinglist()"
    data-cy="addMlButton"
    class="bottom-padding"
  >
    Mailingliste hinzufügen
  </button>
  <section class="list">
    <app-mailinglist-card
      *ngFor="let ml of mailinglists$ | async"
      [mailinglist]="ml"
      [adminView]="true"
    ></app-mailinglist-card>
  </section>
  <h2>Arbeitsgruppen</h2>
  <button
    mat-raised-button
    color="primary"
    (click)="addWorkgroup()"
    data-cy="addWgButton"
    class="bottom-padding"
  >
    Arbeitsgruppe hinzufügen
  </button>
  <section class="list">
    <app-workgroup-card
      *ngFor="let wg of workgroups$ | async"
      [workgroup]="wg"
      [adminView]="true"
    ></app-workgroup-card>
  </section>
</app-container>
