<app-container title="Mailinglist-Übersicht">
  <section class="list">
    <app-mailinglist-card
      *ngFor="let ml of validMailinglists$ | async"
      [mailinglist]="ml"
    ></app-mailinglist-card>
  </section>
  <section *ngIf="(validMailinglists$ | async)?.length === 0">
    <h2>Es gibt noch keine Mailinglisten</h2>
  </section>
</app-container>
