<router-outlet
  *ngIf="emailVerified$ | async"
  class="theme-alternate"
></router-outlet>
<div class="padding" *ngIf="!(emailVerified$ | async)">
  <h1>Fehler</h1>
  <p>
    Bevor der WgManager verwendet werden kann, muss deine E-Mail verifiziert
    werden. Wende dich dazu bitte an kv@guene-muenster.de
  </p>
</div>
