<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let ml">
      <b>{{ ml.name }}</b>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>E-Mail Adresse</th>
    <td mat-cell *matCellDef="let ml">{{ ml.email }}</td>
  </ng-container>

  <ng-container matColumnDef="includeGrups">
    <th mat-header-cell *matHeaderCellDef>Mitgliedstatus</th>
    <td mat-cell *matCellDef="let ml">{{ ml.includeGrups }}</td>
  </ng-container>

  <ng-container matColumnDef="excludeGroups">
    <th mat-header-cell *matHeaderCellDef>Mitgliedstatus</th>
    <td mat-cell *matCellDef="let ml">{{ ml.excludeGroups }}</td>
  </ng-container>

  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let ml">
      <button
        (click)="editMailinglist(ml)"
        color="primary"
        data-cy="edit-ml"
        mat-raised-button
      >
        Editieren
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
