<mat-form-field appearance="fill">
  <mat-label>Mailliste in Mailman3</mat-label>
  <mat-select [formControlName]="_formControlName">
    <mat-option *ngIf="allowEmpty">Keine</mat-option>
    <mat-option
      *ngFor="let mail of availableMails$ | async"
      [disabled]="mail.used && mail.mailAddress != currentMail"
      [value]="mail.mailAddress"
      >{{ mail.mailAddress }}</mat-option
    >
  </mat-select>
  <mat-hint>
    Mailingliste aus Mailman3. Wenn eine Liste nicht auswählbar ist, wird diese
    bereits durch eine andere Mailingliste/Arbeitsgruppe verwendet.
    <b
      >Achtung: Alle bestehenden Mitglieder aus der Mailingliste werden
      überschrieben</b
    ></mat-hint
  >
</mat-form-field>
