<h2 mat-dialog-title>
  {{ title | async }}
</h2>
<mat-dialog-content>{{ body | async }}</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()" cdkFocusInitial>Nein</button>
  <button mat-button (click)="confirm()">Ja</button>
</mat-dialog-actions>
