{{define "Footer"}}
<p>
  <i>Bei Fragen, wende dich an kv@gruene-muenster.de</i><br />
  <a href="https://gruene-muenster.de/impressum">Impressum</a>&nbsp;<a
    href="https://gruene-muenster.de/datenschutz"
    >Datenschutzerklärung</a
  ><br />
  Die Grüne Münster ID ist der zentrale Authentifizierungsdienst der Grünen in
  Münster. Weitere Details können dem
  <a
    href="https://gruene.ms/technik-onboarding"
    style="border-bottom: 1px dotted rgba(0, 0, 0, 0.7)"
    >Technik-Onboarding</a
  >
  entnommen werden.
</p>
{{ end }}
