.form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding-bottom: 2rem;
  width: 100%;
}

.button-array {
  display: flex;
  justify-content: space-between;
}

.left-margin {
  margin-left: 1em;
}
