<h3
  *ngIf="(modalState | async) === MailinglistModalState.Add"
  data-cy="ml-dialog-heading"
>
  Mailingliste hinzufügen
</h3>
<h3
  *ngIf="(modalState | async) === MailinglistModalState.Edit"
  data-cy="ml-dialog-heading"
>
  Mailingliste <i>{{ (oldMailinglist | async)?.name }}</i> bearbeiten
</h3>

<section class="form">
  <form
    [formGroup]="mailConfigForm"
    ngxsForm="admin.mailConfigForm"
    (ngSubmit)="submit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" data-cy="ml-input-name" />
      <mat-hint>Der Name der Mailingliste</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mailingliste Basisgruppe</mat-label>
      <mat-select
        formControlName="baseGroup"
        data-cy="ml-input-include"
        [compareWith]="compareLdapGroups"
      >
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint>
        Basisgruppe für die Mailingliste. Alle Mitglieder der Mailingliste
        müssen dieser Basisgruppe angehören.
      </mat-hint>
    </mat-form-field>
    <mat-slide-toggle formControlName="modifierGroupIsInclude"
      >Modifier Gruppe ist die Mitglieder Gruppe</mat-slide-toggle
    >
    <p>
      Wenn die Modifier Gruppe die Mitgliedergruppe ist werden alle Mitglieder
      der Basisgruppe und der Mitgliedergruppe in die Mailingliste eingefügt.
      Dies führt dazu, dass Nutzer*Innnen nicht standardmäßig Mitglied der
      Gruppe sind.
    </p>
    <p>
      Wenn die Modifier Gruppe nicht nicht die Mitgliedergruppe ist, ist es die
      Ausschlussgruppe. Nutzer*Innen sind Mitglieder der Mailingliste, wenn sie
      der Basisgruppe angehören und <b>nicht</b> der Modifiergruppe
    </p>
    <p>
      <b>Achtung</b>: Wird die Modifier Gruppe in einer bestehenden Mailingliste
      umgestellt, werden alle bestehenden Mitglieder aus der Mailingliste
      entfernt und alle, die nicht Mitglieder sind und in der Basegroup sind
      eingefügt!
    </p>
    <mat-form-field appearance="fill">
      <mat-label *ngIf="modifierGroupIsInclude">Mitglieder Gruppe</mat-label>
      <mat-label *ngIf="!modifierGroupIsInclude">Ausschluss Gruppe</mat-label>
      <mat-select
        formControlName="modifierGroup"
        data-cy="ml-input-exclude"
        [compareWith]="compareLdapGroups"
      >
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint *ngIf="modifierGroupIsInclude">
        Nutzer*Innen aus dieser Gruppe werden in die Mailingliste eingefügt.
        Nutzer*Innen können sich selber in die Gruppe einschreiben.
      </mat-hint>
      <mat-hint *ngIf="!modifierGroupIsInclude">
        Nutzer*Innen aus dieser Gruppe werden <b>nicht</b> in die Mailingliste
        eingefügt. Nutzer*Innen können sich selber in diese Gruppe einschreiben.
      </mat-hint>
    </mat-form-field>
    <app-mail-picker
      _formControlName="email"
      [currentMail]="(oldMailinglist | async)?.email"
    ></app-mail-picker>
    <app-button-row-form
      [enableDeleteButton]="(modalState | async) === MailinglistModalState.Edit"
      (delete)="delete()"
      (cancel)="closeModal()"
    ></app-button-row-form>
  </form>
</section>
