<mat-card>
  <h1 *ngIf="!workgroup.valid" class="warn">
    Konfiguration der Gruppe ist fehlerhaft!
  </h1>
  <section class="title">
    <h2>{{ workgroup.name }}</h2>
  </section>
  <div class="grid" *ngIf="workgroup.email">
    Arbeitsgruppen-Mailingliste:
    <div>
      <i>{{ workgroup.email }}</i>
    </div>
  </div>
  <div *ngIf="workgroup.mattermostLink" class="grid">
    Messaging-Gruppe:
    <a
      href="{{ workgroup.mattermostLink }}"
      target="_blank"
      rel="noopener noreferrer"
      >{{ workgroup.mattermostLink }}</a
    >
  </div>
  <div *ngIf="workgroup.email && workgroup.joined && !adminView" class="grid">
    Mitgliedschaft:
    <div *ngIf="workgroup.joined">Du bist Mitglied der Arbeitsgruppe.</div>
    <div *ngIf="!workgroup.joined">
      Du bist <b>nicht</b> Mitglied der Arbeitsgruppe
    </div>
    Mailinglist:
    <div>
      <p class="only-bottom-margin" *ngIf="!workgroup.subscribedToMailinglist">
        Du hast die Mailingliste <b>nicht</b> abonniert.
      </p>
      <button
        data-cy="join-ml"
        (click)="subscribeToMailinglist()"
        *ngIf="!workgroup.subscribedToMailinglist"
        mat-raised-button
        class="full-width"
        color="primary"
      >
        Mail abonnieren
      </button>
      <p class="only-bottom-margin" *ngIf="workgroup.subscribedToMailinglist">
        Du hast die Mailingliste abonniert.
      </p>
      <button
        data-cy="leave-ml"
        (click)="unsubscribeMailinglist()"
        *ngIf="workgroup.subscribedToMailinglist"
        class="full-width"
        color="warn"
        mat-raised-button
      >
        Mail deabonnieren
      </button>
    </div>
  </div>
  <div *ngIf="adminView" class="grid">
    Zum Beitritt Berichtigte
    <i>{{ convertUuidToGroupname(adminWg?.allowJoinLdapGroup) }}</i>
    Mitglieder-Gruppe
    <i>{{ convertUuidToGroupname(adminWg?.memberLdapGroup) }}</i>
    Ausschluss-Mail Gruppe
    <i>{{ convertUuidToGroupname(adminWg?.excludeMailinglistLdapGroup) }}</i>
    Sprecher*Innen Gruppe
    <i>{{ convertUuidToGroupname(adminWg?.speakerLdapGroup) }}</i>
  </div>
  <section class="button-row">
    <div class="member-status" *ngIf="!adminView">
      <button
        mat-raised-button
        data-cy="join-ml"
        (click)="join(workgroup)"
        *ngIf="!workgroup.joined"
        color="primary"
        [disabled]="!workgroup.allowedToJoin"
      >
        Beitreten
      </button>
      <button
        data-cy="leave-ml"
        (click)="leave(workgroup)"
        [disabled]="!workgroup.allowedToJoin"
        *ngIf="workgroup.joined"
        color="warn"
        mat-raised-button
      >
        Verlassen
      </button>
      <div
        class="align-center"
        matTooltip="Du bist nicht berechtigt der Gruppe beizutretten"
        *ngIf="!workgroup.allowedToJoin"
      >
        <mat-icon>info</mat-icon>
      </div>
    </div>
    <div>
      <button
        mat-raised-button
        (click)="openMembers(workgroup)"
        *ngIf="workgroup.joined || adminView"
      >
        Mitglieder anzeigen
      </button>
      <button
        mat-raised-button
        class="padding-left"
        *ngIf="adminView"
        (click)="edit(adminWg!)"
      >
        Editieren
      </button>
    </div>
  </section>
</mat-card>
