:host {
  min-width: min(25rem, 50vw);
  max-width: 30rem;
}
mat-card {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 1.1rem;
    }
  }

  .warn {
    color: var(--warn-color);
  }

  .button-row {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    .member-status {
      display: flex;
    }

    .align-center {
      margin-left: 1em;
      display: flex;
      align-items: center;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 1em;
    padding-top: 1em;
  }
}

.only-bottom-margin {
  margin: 0px;
  margin-bottom: 0.5em;
}

.full-width {
  width: 100%;
}

.padding-left {
  margin-left: 1em;
}
