.item {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  &:hover {
    color: var(--primary-lighter-color);
  }
  cursor: pointer;
}
.selected {
  color: var(--primary-color);
}
