<app-container title="Arbeitsgruppen-Übersicht">
  <section class="list">
    <app-workgroup-card
      *ngFor="let wg of validWorkgroups$ | async"
      [workgroup]="wg"
    ></app-workgroup-card>
  </section>
  <section *ngIf="(validWorkgroups$ | async)?.length === 0">
    <h2>Es gibt noch keine Arbeitsgruppen</h2>
  </section>
</app-container>
