:host {
  min-width: min(25rem, 50vw);
  max-width: 30rem;
}
mat-card {
  .title {
    h2 {
      padding-bottom: 0em;
      margin-bottom: 0.3rem;
    }
    justify-content: space-between;
    align-items: center;
    i {
      font-size: 1.1rem;
    }
    margin-bottom: 1em;
  }
  .warn {
    color: var(--warn-color);
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    padding-top: 1.25em;
  }
  .button-row {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    .member-status {
      display: flex;
      .align-center {
        display: flex;
        height: 100%;
        align-items: center;
        margin-left: 1em;
      }
    }
  }
}
