<mat-card *ngIf="mailinglist">
  <h1 class="warn" *ngIf="!mailinglist.valid">
    Konfiguration der Mailingliste ist fehlerhaft!
  </h1>
  <section class="title">
    <h2>{{ mailinglist.name }}</h2>
    <i>{{ mailinglist.email }}</i>
  </section>
  <div class="grid">
    Anzahl der Mitglieder:
    <div>{{ mailinglist.numberOfMembers }}</div>
    Mitlgied:
    <div *ngIf="mailinglist.joined">Mitglied</div>
    <div *ngIf="!mailinglist.joined">Nicht-Mitglied</div>
  </div>
  <div class="grid" *ngIf="adminView">
    Mailingliste Mitglieder
    <i>{{ convertUuidToGroupname(adminMl?.baseGroup) }}</i>
    Mailingliste Ausschluss
    <i>{{ convertUuidToGroupname(adminMl?.modifierGroup) }}</i>
  </div>

  <div class="button-row">
    <section class="member-status">
      <button
        data-cy="join-ml"
        (click)="join(mailinglist)"
        *ngIf="!mailinglist.joined"
        [disabled]="!mailinglist.allowedToJoin"
        mat-raised-button
        color="primary"
      >
        Beitreten
      </button>
      <button
        data-cy="leave-ml"
        (click)="leave(mailinglist)"
        *ngIf="mailinglist.joined"
        [disabled]="!mailinglist.allowedToJoin"
        color="warn"
        mat-raised-button
      >
        Verlassen
      </button>
      <div
        class="align-center"
        matTooltip="Du bist nicht berechtigt der Mailingliste beizutretten"
        *ngIf="!mailinglist.allowedToJoin"
      >
        <mat-icon>info</mat-icon>
      </div>
    </section>
    <button
      mat-raised-button
      *ngIf="adminView"
      (click)="editMailinglist(adminMl!)"
    >
      Bearbeiten
    </button>
  </div>
</mat-card>
