{{define "Subject"}}Neue Arbeitsgruppenmitglied in {{.WgName}}{{ end }}
{{define "Body"}}
In die Arbeitsgruppe <i>{{.WgName}}</i> wurde
<i>{{.NewUserFirstName}} {{.NewUserLastName}}</i> hinzugefügt.
{{ end }}
