{{define "Subject"}}Arbeitsgruppenmitglied hat {{.WgName}} verlassen{{ end }}
{{define "Body"}}
<b>{{.RemovedUserFirstName}} {{.RemovedUserLastName}}</b> hat die Arbeitsgruppe
<b>{{.WgName}}</b> verlassen.
{{ end }}
