table {
  width: 100%;
  td {
    padding: 1em;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  mat-icon {
    cursor: pointer;
  }
}

mat-card {
  margin-top: 1em;
  form {
    mat-form-field {
      width: 100%;
    }
    .right-align {
      display: flex;
      justify-content: end;
    }
  }
}
