<div class="title">
  <h2>Mitglieder der Arbeitsgruppe</h2>

  <button mat-icon-button aria-label="Close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div *ngIf="dataSource.data.length === 0">Die Arbeitsgruppe ist noch leer.</div>
<table
  *ngIf="dataSource.data.length !== 0"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let user">
      {{ user.firstName }} {{ user.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef>Mail</th>
    <td mat-cell *matCellDef="let user">
      {{ user.mail }}
    </td>
  </ng-container>
  <ng-container matColumnDef="kick">
    <th mat-header-cell *matHeaderCellDef>Kick</th>
    <td mat-cell *matCellDef="let user">
      <b
        ><button mat-raised-button color="warn" (click)="removeUser(user.id)">
          Mitglied entfernen
        </button></b
      >
    </td>
  </ng-container>
  <ng-container matColumnDef="toggleSpeaker">
    <th mat-header-cell *matHeaderCellDef>Sprecher?</th>
    <td mat-cell *matCellDef="let user">
      <button
        mat-raised-button
        color="primary"
        (click)="addSpeaker(user.id)"
        *ngIf="!user.speaker"
      >
        Zum Sprecher*In
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="removeSpeaker(user.id)"
        *ngIf="user.speaker"
      >
        Sprecher*In Rechte entziehen
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-card>
  <form [formGroup]="formAddUser" (ngSubmit)="submitAddUserForm()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        formControlName="email"
        matInput
        placeholder="Neue E-Mail"
      />
      <mat-error *ngIf="formAddUser.hasError('userNotFound')"
        >Kein*e Nutzer*In bekannt mit der E-Mail Adresse nicht gefunden.
        {{ formAddUser.errors }}</mat-error
      >
    </mat-form-field>
    <div class="right-align">
      <button mat-raised-button color="primary">Hinzufügen!</button>
    </div>
  </form>
</mat-card>
