<h3 data-cy="wg-dialog-heading">Workgroup hinzufügen dialog</h3>
<section class="form">
  <form
    [formGroup]="workgroupConfigForm"
    ngxsForm="admin.workgroupConfigForm"
    (ngSubmit)="submit()"
  >
    <mat-form-field appearance="fill">
      <mat-label>Name*</mat-label>
      <input data-cy="wg-input-name" matInput formControlName="name" />
      <mat-hint>Der Name der Arbeitsgruppe</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Berechtigungsgruppe</mat-label>
      <mat-select formControlName="allowJoinLdapGroup">
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group.id"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint>
        Berechtigungsgruppe, die es erlaubt der Arbeitsgruppe beizutreten.
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Mitgliedergruppe*</mat-label>
      <mat-select formControlName="memberLdapGroup">
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group.id"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint
        >In diese Gruppe werden alle Mitglieder der Arbeitsgruppe
        eingefügt.</mat-hint
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Sprecher*In Gruppe*</mat-label>
      <mat-select formControlName="speakerLdapGroup">
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group.id"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint>
        Mitglieder dieser Gruppe sind Sprecher*In der Arbeitsgruppe.
        Administratoren können Nutzer*Innen dieser Gruppe hinzufügen.
      </mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label></mat-label>
      <mat-select formControlName="excludeMailinglistLdapGroup">
        <mat-option
          *ngFor="let group of possibleGroups | async"
          [value]="group.id"
          >{{ group.name }}</mat-option
        >
      </mat-select>
      <mat-hint>
        Mitglieder dieser Gruppe sind nicht Teil der Mailingliste. Nutzer*Innen
        können sich selbstständig in diese Gruppe eintragen/austragen.
      </mat-hint>
    </mat-form-field>
    <app-mail-picker
      _formControlName="mail"
      [allowEmpty]="true"
      [currentMail]="(oldWorkgroup | async)?.mail"
    ></app-mail-picker>
    <mat-form-field appearance="fill">
      <mat-label>Messaginggruppe</mat-label>
      <input
        matInput
        data-cy="wg-input-mattermost"
        formControlName="matterMostLink"
      />
      <mat-hint>Messaginggruppen Link</mat-hint>
    </mat-form-field>
    <app-button-row-form
      [enableDeleteButton]="(modalState | async) === ModalState.Edit"
      (delete)="delete()"
      (cancel)="close()"
    ></app-button-row-form>
  </form>
</section>
