<section class="button-array">
  <div>
    <button
      *ngIf="enableDeleteButton"
      mat-raised-button
      (click)="delete.emit()"
      data-cy="ml-delete"
      type="button"
      color="warn"
    >
      {{ deleteLabel }}
    </button>
  </div>
  <div>
    <button
      mat-raised-button
      type="button"
      data-cy="ml-cancel"
      (click)="cancel.emit()"
    >
      {{ cancelLabel }}
    </button>
    <button
      mat-raised-button
      data-cy="ml-submit"
      type="submit"
      color="primary"
      class="left-margin"
      (click)="submit.emit()"
    >
      {{ submitLabel }}
    </button>
  </div>
</section>
