<mat-drawer-container class="example-container">
  <mat-drawer
    #drawer
    mode="side"
    [opened]="isSidenavOpened$ | async"
    hasBackdrop="false"
  >
    <div class="flex">
      <nav>
        <app-nav-item
          link="/mailinglists"
          title="Mailinglisten"
          data-cy="nav-ml"
        ></app-nav-item>
        <mat-divider></mat-divider>
        <app-nav-item
          link="/memberships"
          title="Arbeitsgruppen"
          data-cy="nav-member"
        ></app-nav-item>
        <mat-divider></mat-divider>
        <app-nav-item
          *ngIf="isAdmin$ | async"
          link="/admin"
          title="Admin-Bereich"
          data-cy="nav-admin"
        ></app-nav-item>
      </nav>
      <div class="btn-container">
        <button
          aria-label="DarkMode Toggle"
          (click)="changedDarkMode()"
          mat-icon-button
        >
          <mat-icon>dark_mode</mat-icon>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button
        mat-icon-button
        (click)="sideToogle()"
        aria-label="Sidemenu-Toggle"
        *ngIf="mobileDesign$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1>{{ title }}</h1></mat-toolbar
    >
    <div class="page-padding">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
