mat-drawer {
  background-color: whitesmoke;

  .btn-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    mat-icon {
      font-size: 2rem;
    }
    margin-bottom: 3em;
  }
}

mat-drawer-container {
  height: 100%;
}

.page-padding {
  padding: 2em;
}

.flex {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  mat-slide-toggle {
    padding: 2em;
  }
}
