<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let wg">
      <b>{{ wg.name }}</b>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Matermost Link</th>
    <td mat-cell *matCellDef="let wg">{{ wg.matterMostLink }}</td>
  </ng-container>

  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let wg">
      <button
        mat-raised-button
        color="primary"
        data-cy="wg-edit"
        (click)="edit(wg)"
      >
        Edit
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="editMembers">
    <th mat-header-cell *matHeaderCellDef>Members</th>
    <td mat-cell *matCellDef="let wg">
      <button
        mat-raised-button
        color="primary"
        data-cy="wg-edit"
        (click)="openMembers(wg)"
      >
        Edit
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
